*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --color-background: #FFF;
    --color-dark: #0A0A0A;
    --color-accent: #490E84;
    --secondary-color: #717171;
}

html{
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0 10px;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

ul,li,a, p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1940px;
    margin: 0 auto;
}

.container__small{
    width: 1200px;
    margin: 0 auto;

}

/* ____________________________Header__________________________ */

.header{
    max-height: 113px;
    height: 113px;
    background-color: var(--color-dark);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.header__container-small{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.header__left {
    display: flex;
    width: 356px;
    color: #717171;
}

.header__left-items+.header__left-items {
    margin-left: 30px;
}

/* ____________________________Main_________________________ */

.main {
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F7;
}

.main__heading {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--color-accent);
}

.main__image{
    margin-bottom: 25px;
}

.main__btn {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: var(--color-accent);
    margin-bottom: 40px;
}

.main_btn-link{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
/* ______________________________New_______________________ */

.new{
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 150px;
}

.new__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    justify-content: center;
}

.new__heading {
    margin-top: 87px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--secondary-color);
}

.new__text {
    width: 560px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.new__text-bald {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

.new__image{
    margin: 36px 100px 50px 191px;
}



/* _________________________________Colour______________________________ */


.colour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.heading__colour {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--secondary-color);
}
.colour__container {
    display: flex;
    gap: 80px;

}
.colour__badge-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colour__badge-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.colour__badge-purple {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

/* __________________________Order_____________________________ */
.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;

}

.order__left {
    width: 100%;
    max-width: 600px;
    background-color: #574B63;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order__left-heading {
    font-weight: 700;
font-size: 32px;
line-height: 39px;
color: var(--color-background);
}

.order__left-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order__left-text{
    margin-bottom: 30px;
}

.order__input{
    display: block;
    width: 400px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #FFF;
    height: 28px;
    margin-bottom: 30px;
}

.order__input::placeholder, .order__left-text{
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    }

.order__left-btn {
    border: none;
    text-transform: uppercase;
    width: 240px;
    height: 50px;
    background-color: var(--color-background);
    color: var(--color-accent);
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
}
/* __________________________________Footrer_______________________________ */
.footer {
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
.container {
}
.container__small {
}
.footer__link {
}